{%extends 'pc/template.html'%}
{%block head%}{{super()}}
<title>关于</title>
<style type="text/css">
	.content {line-height: 28px;color: #444;margin: 0 10px 10px 10px;}
</style>
{%endblock%}{%block body%}
<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;关于</div>
<div class="content">
WITALK是聚焦技术的社区。交流才是解决问题的唯一办法，智慧来源于交流，又用于交流。社区创建于2018年02月17日，崇尚价值与信息量。当前管理员是<a href="/profile/ujued">@ujued</a> .<br />
社区置有许多的<a href="/forums">论坛板块</a>，相当细致，兴趣更精准，问题范围小，及时回应。<br />
我们也有一些社区规则：<br />
1.不允许讨论任何有关盗版软件、音乐、电影等获得手段的问题. <br />
2.不允许讨论任何有关危害事业单位的问题.<br />
3.不允许发布人身攻击、仇恨、暴力、侮辱性的言辞、暴露他人隐私的主题 .<br />
4.禁止发布其他任何违反中华人民共和国、美国法律的内容.<br />
5.尊重原创，奖励对社区有贡献的网友.
</div>
{%endblock%}