{%extends 'pc/template.html'%}
{%block head%}{{super()}}
<title>我的收藏</title>
<style type="text/css">
	.title {height: 26px;border-bottom: 1px solid #efefef;line-height: 26px;margin: 0 10px;}
	.f_list{margin: 0 10px;line-height: 28px;padding: 2px 0 12px 0;}
	.f_list li{display: inline-block;margin-right: 10px;}
	.f_list li a:hover {text-decoration: underline;color: #222;}
	
	.t_list {margin: 0 10px;line-height: 20px;}
	.t_list li {border-bottom: 1px solid #efefef;padding: 10px 0;}
	.t_list li:last-child {border-bottom: none;}
	.t_list li a {color: #565656;}
	.t_list li a:hover {text-decoration: underline;}
	.t_list li .topic-info {font-size: 12px;color: #666;}
	.t_list li .topic-info a {display: inline-block;line-height: 12px;padding: 1px 0;color: #787878;}
	.t_list li .topic-info a:hover {background: #cecece;}
	.t_list li .answer_count {float: right;display: inline-block;background: #efefef;color: #454545;font-weight: bold;height: 14px;line-height: 14px;padding: 0px 6px;border-radius: 7px;margin: 2px 0 0 0;font-size: 12px;}
	.list li .answer_count:hover {background: #ccc;}
</style>
{%endblock%}{%block body%}
<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="/home">个人中心</a>&nbsp;&nbsp;›&nbsp;&nbsp;我的收藏</div>
<div class="title"><img style="float: left;margin: 1px 3px 0 0;" src="https://witalk.cc/r/witalk/collection.png" height="16" alt="收藏" />收藏的论坛</div>
<ul class="f_list">
{% if f_collections|length == 0 %}<li><a href="javascript:;">暂无收藏节点</a></li>{% endif%}
{%for collection in f_collections%}
	<li><a href="/f/{{collection.forum.id}}">{{collection.forum.name}}</a></li>
{%endfor%}
</ul>
<div class="title"><img style="float: left;margin: 1px 3px 0 0;" src="https://witalk.cc/r/witalk/collection.png" height="16" alt="收藏" />收藏的主题</div>
<ul class="t_list">
{% if t_collections|length == 0 %}<li><a href="javascript:;">暂无收藏主题</a></li>{% endif%}
{%for collection in t_collections%}
	<li><a href="/t/{{collection.topic.id}}">{{collection.topic.title}}</a><a class="answer_count" href="/t/{{collection.topic.id}}">{{collection.topic.answer_count}}</a><div class="topic-info"><a href="/profile/{{collection.topic.author.id}}">{{collection.topic.author.name}}</a> • <a href="/f/{{collection.topic.forum.id}}">{{collection.topic.forum.name}}</a> • {{collection.collect_date}}前收藏</div></li>
{%endfor%}
</ul>
{%endblock%}