{%extends 'pc/template.html'%}
{%block head%}{{super()}}
<title>鸣谢(Thanks)</title>
<style type="text/css">
	.content {line-height: 28px;color: #444;margin: 0 10px 10px 10px;}
</style>
{%endblock%}{%block body%}
<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;鸣谢</div>
<div class="content">
1.感谢Python技术相关人员提供优秀免费的编程语言<br />
2.感谢PythonWeb开发框架Flask免费优雅<br />
3.感谢Nginx的高效率与免费<br />
4.感谢Lighttpd 独立出来的Fastcgi进程管理器spawn-fcgi的免费<br />
5.感谢其他优秀的Python开源包<br />
6.感谢V2EX的前端与功能启示<br />
7.感谢黑客派的前端启示<br />
8.感谢Linux相关技术开源人员提供的优秀服务器系统<br />
9.感谢开源事业
</div>
{%endblock%}