<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
	<title>404 Page</title>
	<style type="text/css">
		* {padding: 0;margin: 0;list-style: none;}
		body {font-size: 14px;font-family: "Raleway","Microsoft Jhenghei","Microsoft Yahei","Helvetica Neue",HelveticaNeue,Arial,sans-serif;}
		a {text-decoration: none;}
		.content {padding: 10px;font-size: 20px;color: #222;}
	</style>
</head>
<body>
	<div class="content">
		This page not found! (404)<br />
		<a href="javascript:history.go(-1);">返回</a>
	</div>
</body>
</html>