{%extends 'template.html'%}
{%block head%}{{super()}}
	<title>论坛分类</title>
	<style type="text/css">
		.nav {padding: 10px;}
		.nav a {color: #888;}
		.nav a:hover {color: #666;text-decoration: underline;}
		.cate, .list {display: inline-block;float: left;line-height: 32px;}
		.cate {width: 18%;color: #bcbcbc;text-align: right;}
		.sp {height: 10px;background: #fff;clear: both;}
		.list {width: 80%;}
		.list a {margin-left: 12px;color: #787878;display: inline-block;line-height: 16px;height: 16px;}
		.list a:hover {text-decoration: underline;}
		.tip {padding: 10px;color: #666;margin: -5px 0 5px 0;}
		.tip span {margin: 2px;font-weight: bold;}
	</style>
{%endblock%}{%block body%}
	<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;论坛分类</div>
	<div class="tip">现有论坛节点<span>{{forum_count}}</span>个</div>
	<div class="cate">信息工程</div>
	<div class="list">
		<a href="/f/2">程序员</a>
		<a href="/f/3">Java</a>
		<a href="/f/4">Python</a>
		<a href="/f/5">C/C++</a>
		<a href="/f/6">Golang</a>
		<a href="/f/7">Lisp</a>
		<a href="/f/30">PHP</a>
		<a href="/f/9">Perl</a>
		<a href="/f/8">C#</a>
		<a href="/f/10">Javascript</a>
		<a href="/f/24">HTML5</a>
	<!-- </div>
	<div class="sp"></div>
	<div class="cate">技术框架</div>
	<div class="list"> -->
		<a href="/f/23">MVC</a>
		<a href="/f/17">Spring</a>
		<a href="/f/18">Struts2</a>
		<a href="/f/19">Mybatis</a>
		<a href="/f/20">Hibernate</a>
		<a href="/f/21">Flask</a>
		<a href="/f/35">WITALK</a>
		<a href="/f/22">Node.js</a>
		<a href="/f/13">网络</a>
		<a href="/f/31">Gradle</a>
		<a href="/f/32">Maven</a>
		<a href="/f/39">Android</a>
		<a href="/f/40">Apple</a>
		<a href="/f/41">Google</a>
	<!-- </div>
	<div class="sp"></div>
	<div class="cate">架构师</div>
	<div class="list"> -->
		<a href="/f/11">Linux</a>
		<a href="/f/12">分布式</a>
		<a href="/f/25">区块链</a>
		<a href="/f/28">大数据</a>
		<a href="/f/26">MySQL</a>
		<a href="/f/27">Redis</a>
		<a href="/f/29">心理学</a>
	</div>
	<div class="sp"></div>
	<div class="cate">生活</div>
	<div class="list">
		<a href="/f/14">二手市场</a>
		<a href="/f/15">网购信息</a>
		<a href="/f/33">电影</a>
		<a href="/f/34">音乐</a>
		<a href="/f/36">面试</a>
		<a href="/f/38">读书</a>
		<a href="/f/37">脑洞时刻</a>
	</div>
	<div class="sp"></div>
	<div class="cate">其它</div>
	<div class="list">
		<a href="/f/1">问与答</a>
		<a href="/f/16">杂谈</a>
	</div>
	<div class="sp"></div>
{%endblock%}