{% extends 'template.html' %}
{% block head %}{{super()}}
	<title>{{forum.name}}</title>
	<style type="text/css">
		.forum-info {float: right;}
		.forum-info span:nth-child(1), .forum-info span:nth-child(2) {font-size: 10px;color: #aaa;}
		.forum-info span:nth-child(3) {color: #888;font-size: 12px;}
		.avatar {float: left;display: inline-block;width: 22px;height: 22px;padding: 2px;}
		.avatar img {border-radius: 2px;}		
		.post {display: block;border: 1px solid #cbcbcb;box-shadow: 0 0 2px #efefef inset;margin:5px 10px;height: 26px;line-height: 26px;text-align: center;color: #343434;}
		.list {margin:0 10px;}
		.list li {border-bottom: 1px solid #eee;padding: 6px 0;}
		.list li:last-child {border-bottom: none;}
		.list li .topic {margin-left: 6px;color: #444;}
		.list li .topic:hover {text-decoration: underline;color: #000;}
		.list li .topic-info {margin: 10px 0 0 32px;color: #888;font-size: 12px;}
		.list li .topic-info .answer-count {float: right;}
	</style>
{% endblock %}
{% block body %}
	<div class="nav">
		<a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="/forums">分类</a>&nbsp;&nbsp;›&nbsp;&nbsp;{{forum.name}}
		<div class="forum-info">
			{%if 'ol_user' in session%}
				{%if collected %}
				<span>已收藏</span>
				{%else%}
				<span><a href="/collect/f/{{forum.id}}?back=/f/{{forum.id}}">加入收藏</a></span>
				{%endif%}&nbsp;&nbsp;
			{%else%}
			<span></span>
			{%endif%}
			<span>主题</span>&nbsp;<span>{{topic_count}}</span></div>
	</div>
	{% if session.ol_user%}<a class="post" href="/new/{{forum.id}}">创建新主题</a>{% endif%}
	<div id="list" class="list"></div>
	<div class="list"><li><a id="get-more" style="text-align: right;" href="javascript:;">数据加载中...</a></li></div>
{%endblock%}
{%block script%}
<script type="text/javascript">
	function ajax(url, fn){
		var req = new XMLHttpRequest();
		req.open('GET', url, true);
		req.onreadystatechange = function(){
			if (req.readyState == 4 && req.status == 200 ) { // readyState == 4说明请求已完成
              		fn.call(this, req.responseText);  //从服务器获得数据
       		};
		};
		req.send();
	}
	var list = document.getElementById('list');
	var get_more = document.getElementById('get-more');
	var pageid = 1;
	ajax('/topics/{{forum.id}}/' + (pageid++), function(txt){
		if(txt == 'None'){
			get_more.innerHTML = '暂无数据';
			get_more.onclick = null;
			return;
		}
		topics = JSON.parse(txt);
		count = 0;
		for(posi in topics){
			topic = topics[posi];
			list.innerHTML += '<li><a class="avatar" href="/profile/' + topic.author.id+ '"><img src="'+ topic.author.avatar +'" width="22" /></a><a class="topic" href="/t/' + topic.id + '">' + topic.title + '</a><div class="topic-info"><span style="font-weight: bold;">'+ topic.author.name +'</span> · '+ topic.post_date +'前 · '+ topic.view_count +' 次点击<span class="answer-count">'+ topic.answer_count +'回复</span></div></li>\n';
			count++;
		}
		if(count < 12) get_more.style.display = 'none';
		else get_more.innerHTML = '还有，继续浏览';
	});
	get_more.onclick = function(){
		get_more.innerHTML = '加载中...';
		ajax('/topics/{{forum.id}}/' + (pageid++), function(txt){
			if(txt == 'None'){
				get_more.innerHTML = '没有了';
				get_more.onclick = null;
				return;
			}
			topics = JSON.parse(txt);
			count = 0
			for(posi in topics){
				topic = topics[posi]
				list.innerHTML += '<li><a class="avatar" href="/profile/' + topic.author.id+ '"><img src="'+ topic.author.avatar +'" width="22" /></a><a class="topic" href="/t/' + topic.id + '">' + topic.title + '</a><div class="topic-info"><span style="font-weight: bold;">'+ topic.author.name +'</span> · '+ topic.post_date +'前<span class="answer-count">'+ topic.answer_count +'回复</span></div></li>\n';
				count++;
			}
			if(count < 12) get_more.innerHTML = '没有了';
			else get_more.innerHTML = '还有，继续浏览';
		});
	}
</script>
{%endblock%}