{%extends 'template.html'%}
{%block head%}{{super()}}
	<title>论坛分类</title>
	<style type="text/css">
		.nav {padding: 10px;}
		.nav a {color: #888;}
		.nav a:hover {color: #666;text-decoration: underline;}
		.tip {padding: 10px;color: #666;margin: -5px 0 5px 0;}
		.tip span {margin: 2px;font-weight: bold;}
		.content {margin: 0 10px 5px 10px;line-height: 26px;color: #565656;}
		.content p {color: #565656;margin: 10px 0;}
		.content p a {margin: 2px;padding: 0 6px;color: #787878;display: inline-block;line-height: 16px;height: 16px;text-shadow: none;}
		.fcate, .flist {display: block;line-height: 16px;}
		.fcate {color: #565656;text-align: right;border-bottom: 1px solid #efefef;margin: 0 10px;padding: 2px 0;}
		.sp {height: 10px;background: #fff;clear: both;}
		.flist {margin: 10px;line-height: 32px;}
		.flist a {margin-right: 4px;color: #787878;display: inline-block;line-height: 16px;height: 16px;}
		.flist a:hover {text-decoration: underline;}
		.flist a {border: 1px solid #efefef;padding: 4px 8px;border-radius: 12px;}
		.flist a:hover {box-shadow: 0 0 8px #e0e0e0;border: 1px solid #cfcfcf;}
	</style>
{%endblock%}{%block body%}
	<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;论坛分类</div>
	<div class="tip">
		现有论坛节点<span>{{forum_count}}</span>个<br />
		优质主题<span>{{topic_count}}</span>篇<br />
		回收主题<span>{{trash_topic_count}}</span>篇
	</div>
	<div class="content">WITALK是以程序员为中心的由论坛组成的社区，涉猎丰富，有技术区，生活区，和一些情感、见闻分享等杂类。
		<p>最具特色的当属<a href="/f/1">小问老答</a>版块。这是专为<span style="text-decoration: underline;">领域新手</span>设置的版块，某技术领域不懂的问题到这里提问，没有成见，摒弃羞涩，“树叶”有专攻，相信你一定可以找到答案。</p>
		首页展示四个大类：编程、文艺、热议、交易，和一个综合类：全部。社区共同看重质量与信息量，希望发布的主题、答案等都会围绕这两点，当然这是需要智慧和技巧的。<br />我们在一起，未来一定是程序员的。</div>
	{%include 'forums-content.html'%}
{%endblock%}
