{%extends 'template.html'%}
{%block head%}{{super()}}
<title>发送信息</title>
<style type="text/css">
	form .input-1 {border: 1px solid #cbcbcb;padding: 5px;width: 100%;margin-left: -5px;}
	form textarea {width: 100%;max-width: 100%;display: block;padding: 5px;border-radius: 2px;margin-left: -5px;border: 1px solid #cbcbcb;}
	form textarea:focus {border-color: #bbb;box-shadow: 0 0 3px #cecece;}
	.btn-1 {border: 1px solid #cbcbcb;border-radius: 2px;background: #fff;padding: 3px 15px;box-shadow: 0 0 2px #efefef inset;float: right;margin: 8px -6px 6px 0;} 
	.btn-1:focus {border-color: #bbb;box-shadow: 0 0 6px #cecece inset;}
	form {padding: 2px 15px;margin: 0px;}
	form input {margin: 5px 0;}
	form .tip {color:red;text-shadow:0 0 1px #ccc;line-height:32px;margin-left:-5px;}
	.user {display: inline-block;}
	.avatar {border-radius: 8px;float: left;margin: 6px 5px 0 0;}
</style>
{%endblock%}{%block body%}
<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="/msgbox/all">收件箱</a>&nbsp;&nbsp;›&nbsp;&nbsp;发送信息</div>
<form action="/msgsend" method="post">
	<div class="tip">{{message}}</div>
	<div class="info">
		<div class="user">
			<img style="margin: 1px 5px 0 -3px;" class="avatar" src="{{session.ol_user.avatar}}" width="16" height="16" /><a href="/profile/{{session.ol_user.id}}">{{session.ol_user.name}}</a>
		</div>
	</div>
	<input class="input-1" type="text" name="username" value="{{to_user}}"  placeholder="To: 用户名" required="required" />
	<textarea name="content" placeholder="信息内容" required="required"></textarea>
	<input class="btn-1" type="submit" value="Biu! 发送" />
</form>
{%endblock%}