{%extends 'template.html'%}
{%block head%}{{super()}}
<title>隐私政策</title>
<style type="text/css">
	.content {line-height: 28px;color: #444;margin: 0 10px 10px 10px;}
</style>
{%endblock%}{%block body%}
<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;隐私政策</div>
<div class="content">
	在互联网，你似乎没有隐私.<br />
	但在WITALK你应知道：<br />
	1.社区采用HTTPS安全协议传输信息，保证了信息的准确转达.<br />
	2.社区默认保存你的登录信息一个月，若觉得不妥，请自行登出.<br />
	3.社区标明的隐私内容不会提供给除了用户本人和国家相关部门(必要情况下)以外的其他人.<br />
	4.社区不会默默跟踪定位你的位置.<br />
	5.不会以任何其他形式泄露非互联网特性使然的用户不允的其他信息.<br />
	6.服务器在美国，发表言论应当遵守两国法律.
</div>
{%endblock%}