{%extends 'template.html'%}
{%block head%}{{super()}}
	<title>{{topic.title}}</title>
	<style type="text/css">
		.flashes {margin: 0 10px;color: red;text-shadow: 0 0 1px #eee;}	
		#avatar {display: inline-block;width: 38px;height: 38px;float: right;margin-right: 0px;padding: 2px;}
		#avatar img {border-radius: 4px;}
		.title {padding: 0 10px 5px 10px;font-size: 20px;color: #111;line-height: 28px;margin-top: 0px;}
		.info {font-size: 12px;color: #999;padding: 2px 0 5px 0px;margin: 0 10px;}
		.content {padding: 8px 0;margin: 0 10px;line-height: 30px;color: #222;border-top: 1px solid #efefef;}
		.content a {color: #787878;font-weight: bold;}
		.operate-area {text-align: right;padding: 6px 10px;border-top: 1px solid #efefef;}
		.operate-area span {font-size: 10px;color: #ccc;}
		.operate-area a {display: inline-block;height: 16px;line-height: 16px;padding: 2px 5px;color: #787878;border: 1px solid #e0e0e0;background: #efefef;border-radius: 2px;margin-left: 8px;font-size: 12px;}
		.operate-area a:hover {box-shadow: 0 0 8px #e0e0e0 inset;}
		.ans-tit {padding: 3px 0;margin: 10px;border-bottom: 1px solid #e2e2e2;color: #676767;font-size: 12px;}
		.answer, .list {margin: 0 10px;}
		.list {margin-bottom: 5px;}
		.answer li {border-bottom: 1px solid #efefef;padding: 5px 0;margin: 5px 0;}
		.answer li:last-child {border-bottom: none;}
		.answer li .avatar {float: left;width: 22px;height: 22px;border-radius: 3px;}
		.answer li .u {margin-left: 30px;margin-top: -2px;height: 26px;font-size: 12px;color: #bcbcbc;}
		.answer li .c {margin-left: 30px;font-size: 14px;}
		.answer li .c a {color: #787878;font-weight: bold;font-size: 12px;}
		.answer li .floor {float: right;color: #bcbcbc;font-size: 12px;font-style: italic;}
		.answer li .floor .answer-reply {height: 14px;padding:1px 2px;margin:-1px 5px 0 0;float: left;}
		.reply {margin: 5px 15px;}
		.reply textarea {width: 100%;max-width: 100%;display: block;padding: 5px;border-radius: 2px;margin-left: -5px;border: 1px solid #cbcbcb;}
		.reply textarea:focus {border-color: #bbb;box-shadow: 0 0 3px #cecece;}
		.reply .re_btn {border: 1px solid #cbcbcb;border-radius: 2px;background: #fff;padding: 3px 12px;box-shadow: 0 0 2px #efefef inset;float: right;margin: 8px -6px 6px 0;} 
		.reply .re_btn:focus {border-color: #bbb;box-shadow: 0 0 6px #cecece inset;}
		.reply .tit {margin:10px 0 5px -5px;}
	</style>
{%endblock%}{%block body%}
	<div class="nav"><a href="/">WITALK</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="/forums">分类</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="/f/{{forum.id}}">{{forum.name}}</a>&nbsp;&nbsp;›&nbsp;&nbsp;主题详情<a id="avatar" href="/profile/{{author.id}}"><img src="{{author.avatar}}" width="38" /></a></div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div class="title">{{topic.title}}</div>
	<div class="info">{{topic.post_date|fashion_date}}前 · <a class="username" href="/profile/{{author.id}}">{{author.name}}</a> · {{topic.view_count}} 次点击{% if topic.user_agent %} · via {{topic.user_agent|post_device}}{% endif%}</div>
	{% if topic.content %}<div class="content">{{topic.content|support_at|markdown|safe}}</div>{% endif %}
	{% if 'ol_user' in session %}<div class="operate-area">{% if collect_count > 0 %}<span>{{collect_count}}人收藏</span>{%endif%}<a href="/collect/t/{{topic.id}}?back=/t/{{topic.id}}">加入收藏</a></div>{% endif %}
	<div class="line"></div>
	<div class="ans-tit"><span style="font-style:italic;font-size: 14px;">{{answer_count}}</span>&nbsp;&nbsp;回复{% if last_answer_info %} <span style="font-weight: bold;font-size: 14px;">|</span> The last by  <a style="color: #888;font-weight: bold;" href="/profile/{{last_answer_info.author_id}}">{{last_answer_info.author_name}}</a> at {{last_answer_info.post_date}} {% endif %}</div>
	<div id="list" class="answer"></div>
	<div class="list"><li><a id="get-more" style="text-align: right;" href="javascript:;">回复加载中...</a></li></div>
	{% if session.ol_user %}
	<div class="line"></div>
	<div class="reply">
		<div class="tit"><img style="float: left;border-radius: 8px;margin-top: 0px;" src="{{session.ol_user.avatar}}" width="16" />&nbsp;&nbsp;{{session.ol_user.name}}</div>
		<form method="post" action="/reply/{{topic.id}}">
			<textarea id="answer_box" rows="3" name="content" required="required"></textarea>
			<input onclick="clearAnswerBox();" class="re_btn" type="button" name="" value="重写" />
			<input class="re_btn" type="submit" name="" value="立即回复" />
		</form>
	</div>
	{% endif %}
{%endblock%}{%block script%}
<script type="text/javascript">
	function ajax(url, fn){
		var req = new XMLHttpRequest();
		req.open('GET', url, true);
		req.onreadystatechange = function(){
			if (req.readyState == 4 && req.status == 200 ) { // readyState == 4说明请求已完成
              		fn.call(this, req.responseText);  //从服务器获得数据
       		};
		};
		req.send();
	}
	{% if session.ol_user %}
	answer_box = document.getElementById('answer_box')
	function setAnswerReply(){
		answer_replys = document.getElementsByClassName('answer-reply');
		for(posi in answer_replys){
			answer_replys[posi].onclick = function(){
				answer_box.value += '@' + this.getAttribute('data-author') + ' ';
				answer_box.focus()
			}
		}
	}
	function clearAnswerBox(){
		answer_box.value = '';
		answer_box.focus();
	}
	{% endif %}
	var list = document.getElementById('list');
	var get_more = document.getElementById('get-more');
	var pageid = 1;
	var floor = 1;
	ajax('/answers/{{topic.id}}/' + (pageid++), function(txt){
		if(txt == 'None'){
			get_more.innerHTML = '暂无回复';
			get_more.onclick = null;
			return;
		}
		answers = JSON.parse(txt);
		count = 0;
		for(posi in answers){
			answer = answers[posi];
			list.innerHTML += '<li><a href="/profile/'+ answer.author.id +'"><img class="avatar" src="'+ answer.author.avatar +'" width="22" /></a><div class="u"><a class="username" href="/profile/'+ answer.author.id +'">'+ answer.author.name +'</a> · '+ answer.post_date +'前 · via '+ answer.via +'<span class="floor">{% if session.ol_user %}<a class="answer-reply" data-author="'+ answer.author.name +'" href="javascript:;"><img alt="reply" src="https://uoope.com/r/uoope_tech/reply.png" height="14" /></a>{% endif %}'+ floor++ +'#</span></div><div class="c">' + answer.content + '</div></li>\n';
			count++;
		}
		if(count < 12) get_more.style.display = 'none';
		else get_more.innerHTML = '还有，继续浏览';
		{% if session.ol_user %}
		setAnswerReply()
		{% endif %}
	});
	get_more.onclick = function(){
		get_more.innerHTML = '加载中...';
		ajax('/answers/{{topic.id}}/' + (pageid++), function(txt){
			if(txt == 'None'){
				get_more.innerHTML = '没有了';
				get_more.onclick = null;
				return;
			}
			answers = JSON.parse(txt);
			count = 0;
			for(posi in answers){
				answer = answers[posi];
				list.innerHTML += '<li><a href="/profile/'+ answer.author.id +'"><img class="avatar" src="'+ answer.author.avatar +'" width="22" /></a><div class="u"><a class="username" href="/profile/'+ answer.author.id +'">'+ answer.author.name +'</a> · '+ answer.post_date +'前 · via '+ answer.via +'<span class="floor">{% if session.ol_user %}<a class="answer-reply" data-author="'+ answer.author.name +'" href="javascript:;"><img alt="reply" src="https://uoope.com/r/uoope_tech/reply.png" height="14" /></a>{% endif %}'+ floor++ +'#</span></div><div class="c">' + answer.content + '</div></li>\n';
				count++;
			}
			if(count < 12) get_more.innerHTML = '没有了';
			else get_more.innerHTML = '还有，继续浏览';
			{% if session.ol_user %}
			setAnswerReply()
			{% endif %}
		});
	}
</script>
{%endblock%}